/* 全域 border box */

a {
   display: block;
   height: auto;
   text-decoration: none;
}

body {
   color: map-get($color, warning-100);
   font-size: $base-font-size;
   font-family: 'custom Regular', sans-serif;
   line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, span {
   color: map-get($color, warning-100);
   line-height: 1.5;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

ul {
   margin: 0;
   padding: 0;
}

.container {
   margin: 0 auto;
   min-width: 345px;

@include pad() {
      max-width: 690px;
   }

@include pc() {
      max-width: 1110px;
   }
}
