.bgc-primary {
   background-color: map-get($color, primary-100);
}

.bgc-secondary {
   background-color: map-get($color, success-300);
}

.bgc-white {
   background-color: map-get($color, success-200) !important;
}
