.my-border-1 {
   border: 1px solid map-get($color, dark-900);
}

.my-border-2 {
   border: 2px solid map-get($color, dark-900);
}

.my-border-secondary {
   border-color: map-get($color, light-200);
}
