// font-family
.font-style-regular {
   font-family: 'custom Regular';
}

.font-style-bold {
   font-family: 'custom bold';
}

.font-style-medium {
   font-family: 'custom medium';
}

.font-style-xl-regular {
   @include pc() {
      font-family: 'custom Regular' !important;
   }
}

.font-style-xl-bold {
   @include pc() {
      font-family: 'custom bold' !important;
   }
}

.font-style-xl-medium {
   @include pc() {
      font-family: 'custom medium' !important;
   }
}

.font-style-md-regular {
   @include pad() {
      font-family: 'custom Regular' !important;
   }
}

.font-style-md-bold {
   @include pad() {
      font-family: 'custom bold' !important;
   }
}

.font-style-md-medium {
   @include pad() {
      font-family: 'custom medium' !important;
   }
}

// font-size

.title-lg {
   font-size: 1.75rem;

@include pad() {
      font-size: 2rem;
      line-height: $line-height-base;
   }

@include pc() {
      font-size: 2.5rem;
      line-height: $line-height-base;
   }
}

.title-md {
   font-size: 2rem;
   line-height: $line-height-base;
}

.subtitle-lg {
   font-size: 1.25rem;

@include pad() {
      font-size: 1.25rem;
      line-height: $line-height-base;
   }

@include pc() {
      font-size: 1.5rem;
      line-height: $line-height-base;
   }
}

.subtitle-lg {
   font-size: 1.25rem;

@include pad() {
      font-size: 1.25rem;
      line-height: $line-height-base;
   }

@include pc() {
      font-size: 1.5rem;
      line-height: $line-height-base;
   }
}

.context-lllg {
   font-size: 2.75rem;
   line-height: $line-height-base;
}

.context-xllg {
   font-size: 2.5rem;
   line-height: $line-height-base;
}

.context-llg {
   font-size: 2.25rem;
   line-height: $line-height-base;
}

.context-lg {
   font-size: 1.25rem;
   line-height: $line-height-base;
}

.context-md {
   font-size: 1rem;
   line-height: $line-height-base;
}

.context-sm {
   font-size: 0.875rem;
   line-height: $line-height-base;
}

.context-mlg {
   font-size: 1.5rem;
   line-height: $line-height-base;
}

.context- {
   font-size: 1.75rem;
   line-height: $line-height-base;
}

.context-md-xllg {
   @include pad() {
      font-size: 2.5rem;
      line-height: $line-height-base;
   }
}

.my-text-primary {
   color: map-get($color, warning-100);
}

.my-text-accent {
   color: map-get($color, success-200);
}

.my-text-warning {
   color: map-get($color, primary-100);
}

.my-text-danger {
   color: map-get($color, danger-900);
}

.my-text-secondary {
   color: map-get($color, secondary-800);
}

.my-text-success {
   color: map-get($color, muted-300);
}

.my-text-info {
   color: map-get($color, info-600);
}

.title-sm {
   font-size: 1.75rem;
   line-height: $line-height-base;
}

.title-md-lg {
   @include pad() {
      font-size: 2.25rem;
      line-height: $line-height-base;
   }
}

.lh-sm {
   line-height: $lh-sm;
}
