.logo {
   overflow: hidden;
   margin: 0;
   width: 121px;
   height: 52px;
   background-image: url(~@/assets/images/logo.svg);
   background-repeat: no-repeat;
   text-indent: 101%;
   white-space: nowrap;

@include pad() {
      height: 54px;
   }

@include pc() {
      height: 55px;
   }
}
