.ml-2\.5 {
   margin-left: 0.75rem !important;
}

.mb-2\.5 {
   margin-bottom: 0.75rem !important;
}

.mt-2\.5 {
   margin-top: 0.75rem !important;
}

.mr-2\.5 {
   margin-right: 0.75rem !important;
}

.row-mx-reset {
   margin-right: -15px !important;
   margin-left: -15px !important;
}

.row-mx-md-reset {
   @include pad() {
      margin-right: -15px !important;
      margin-left: -15px !important;
   }
}

.row-mx-xl-reset {
   @include pc() {
      margin-right: -15px !important;
      margin-left: -15px !important;
   }
}
