.col-px-0 {
   padding-right: 0 !important;
   padding-left: 0 !important;
}

.col-px-md-0 {
   @include pad() {
      padding-right: 0 !important;
      padding-left: 0 !important;
   }
}

.col-px-xl-0 {
   @include pc() {
      padding-right: 0 !important;
      padding-left: 0 !important;
   }
}

.col-px-reset {
   padding-right: 15px !important;
   padding-left: 15px !important;
}

.col-px-md-reset {
   @include pad() {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
}

.col-px-xl-reset {
   @include pc() {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
}

.pl-2\.5 {
   padding-left: 0.75rem !important;
}

.pb-2\.5 {
   padding-bottom: 0.75rem !important;
}

.pt-2\.5 {
   padding-top: 0.75rem !important;
}

.pr-2\.5 {
   padding-right: 0.75rem !important;
}

.px-2\.5 {
   padding-right: 0.75rem !important;
   padding-left: 0.75rem !important;
}

.px-md-2\.5 {
   @include pad() {
      padding-right: 0.75rem !important;
      padding-left: 0.75rem !important;
   }
}
