.position-sticky-xl {
   @include pc() {
      position: sticky !important;
      top: 0;
      z-index: 1020;
   }
}

.position-sticky {
   @include pc() {
      position: sticky !important;
      top: 0;
      z-index: 1020;
   }
}
