@mixin font-family-regular {
   font-family: 'custom Regular';
}

@mixin font-family-bold {
   font-family: 'custom bold';
}

@mixin font-family-medium {
   font-family: 'custom medium';
}
