.detail {
   &-wrap {
      padding-bottom: 0;

@include pad() {
         padding-top: 60px;
         padding-bottom: 60px;
      }

@include pc() {
         padding-top: 80px;
      }
   }

   &-imges {
      padding-bottom: 0;

@include pad() {
         padding-bottom: 0;
      }

@include pc() {
         padding-bottom: 190px;
      }
   }

   &-info {
      padding-bottom: 40px;

@include pad() {
         padding-bottom: 60px;
      }

@include pc() {
         padding-bottom: 0;
      }
   }
}
