.login-wrap {
   padding-top: 60px;

@include pad() {
      padding-top: 176px;
   }

@include pc() {
      padding-top: 112px;
   }
}

.login-title {
   margin-bottom: 24px;

@include pad() {
      margin-bottom: 60px;
   }
}
