.media-quartet {
   &-img {
      width: 100px;
      height: 100px;

      object-fit: cover;
      object-position: center;

@include pad() {
         width: 150px;
         height: 150px;
      }

@include pc() {
         width: 282px;
         height: 282px;
      }
   }
}
